@* @model CheatChat.Models.RegisterModel *@


@* @{
    ViewData["Title"] = "Register";
} *@

@{
    Layout = null; // This example assumes no layout for simplicity.
}

<!DOCTYPE html>
<html>
<head>
    <title>CheatChat - Register</title>
    <link rel="stylesheet" href="~/css/LogIn.css">
    <script src="~/js/site.js"></script>
</head>
<body style="background-image: url(images/LogInBackground.jpg)">
    <div class="container">
        <img src="~/images/CheatChatLogo.png" alt="Logo" class="logo">
        @using (Html.BeginForm("Register", "Register", FormMethod.Post))
        {
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required />
            <br />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <br />
            <input type="submit" id="sign up" value="sign up" style="font-size: 20px" onclick="loading()" />
            @* <button type="submit" id="login" value="Log In" style="font-size: 20px" onclick="logInSwitch()" /> *@
            <a asp-controller="Home" asp-action="Index" style="font-size: 20px">Log In</a>
        }
    <label style="color:red; padding-top: 20px; text-align:center; visibility:hidden">Incorrect Email or password</label>
    <div class="lds-ellipsis" id="loading"><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</body>
</html>



@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>