body {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-image: url("/images/LogInBackground.jpg");
    justify-content: center;
    align-items: center;
    background-size: cover;
    display: flex;

}

    h2 {
        text-align: center;
        color: #333;
    }

    form {
        max-width: 400px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #555;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #5292FF;
        color: #fff;
        padding: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #5292FF;
        font-size: 200px;
    }

    .logo {
        width: 400px; /* Set the desired width */
        height: auto; /* Maintain the aspect ratio */
        margin-bottom: 30px; /* Adjust margin as needed */
    }
.lds-ellipsis {
    display: inline-block;
    position: relative;
    left: 40%;
    visibility: hidden;
}

    .lds-ellipsis div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        /*background: #902C90;*/
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
        background: #2979B4;
    }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
            background: #2E4094;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
            background: #E75E36;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis2 0.6s infinite;
            background: #902C90;
        }
        .lds-ellipsis div:nth-child(5) {
            left: 80px;
            animation: lds-ellipsis3 0.6s infinite;
            background: #3BB052;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

